%h3 Find your Organization

%div.row
	%div.span3
		= form_tag 'accounts/index' do
			= label_tag(:name, "Search by Organization Name")
			= autocomplete_field_tag 'name', '', autocomplete_account_name_accounts_path
			= submit_tag("Search")
	%div.span3
		= form_tag do
			= label_tag(:location, "Search by Organization Location") 
			= text_field_tag(:location)
			= submit_tag("Search")
	%div.span3	
		%p Not finding what you're looking for?